/*
x-library
Autor: Xpend Music (Frank Alvarez)
*/
html {
  font-family: sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Contenedores */
@media only screen and (max-width: 768px) {
  .x-container {
    padding: 5px 15px;
  }
}

@media only screen and (min-width: 768px) {
  .x-container {
    padding: 10px 15px;
  }
}

@media only screen and (min-width: 992px) {
  .x-container {
    padding: 5px 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .x-container {
    padding: 5px 60px;
  }
}

/* Notificaciones */
.x-alert-row {
  position: fixed;
  top: 15px;
  right: 20px;
  width: 250px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 10px;
}

.x-alert-warning {
  position: relative;
  background-color: #ed9a00;
  padding: 15px 15px;
  top: 0;
  border-radius: 10px;
  color: #FFF;
  font-size: 0.8rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.x-alert-warning a {
  font-weight: 800;
  color: #FFF;
}

.x-alert-warning:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.x-alert-danger {
  position: relative;
  background-color: #e40334;
  padding: 15px 15px;
  top: 0;
  border-radius: 10px;
  color: #FFF;
  font-size: 0.8rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.x-alert-danger a {
  font-weight: 800;
  color: #FFF;
}

.x-alert-danger:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.x-alert-success {
  position: relative;
  background-color: #28B463;
  padding: 15px 15px;
  top: 0;
  border-radius: 10px;
  color: #FFF;
  font-size: 0.8rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.x-alert-success a {
  font-weight: 800;
  color: #FFF;
}

.x-alert-success:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.x-alert-info {
  position: relative;
  background-color: #0099ff;
  padding: 15px 15px;
  top: 0;
  border-radius: 10px;
  color: #FFF;
  font-size: 0.8rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.x-alert-info a {
  font-weight: 800;
  color: #FFF;
}

.x-alert-info:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.x-alert-primary {
  position: relative;
  background-color: #00a3fa;
  padding: 15px 15px;
  top: 0;
  border-radius: 10px;
  color: #FFF;
  font-size: 0.8rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.x-alert-primary a {
  font-weight: 800;
  color: #FFF;
}

.x-alert-primary:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/* BOTONES */
.x-btn-warning {
  background-color: #ed9a00;
  color: white;
  padding: 10px 16px;
  margin: 8px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  text-decoration: none;
}

.x-btn-warning:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: white;
}

.x-btn-warning:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.x-btn-danger {
  background-color: #e40334;
  color: white;
  padding: 10px 16px;
  margin: 8px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  text-decoration: none;
}

.x-btn-danger:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: white;
}

.x-btn-danger:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.x-btn-success {
  background-color: #28B463;
  color: white;
  padding: 10px 16px;
  margin: 8px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  text-decoration: none;
}

.x-btn-success:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: white;
}

.x-btn-success:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.x-btn-info {
  background-color: #0099ff;
  color: white;
  padding: 10px 16px;
  margin: 8px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  text-decoration: none;
}

.x-btn-info:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: white;
}

.x-btn-info:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.x-btn-primary {
  background-color: #00a3fa;
  color: white;
  padding: 10px 16px;
  margin: 8px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  text-decoration: none;
}

.x-btn-primary:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: white;
}

.x-btn-primary:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.x-alert__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 0.9rem;
  cursor: pointer;
}

.x-alert__btn:hover {
  opacity: 80%;
}

/* CAJA TEXTO */
.x-box {
  position: fixed;
  display: none;
  z-index: 999;
  width: 80%;
  height: 80%;
  background-color: #FFF;
  top: 10%;
  left: 10%;
  border-radius: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.54);
          box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.54);
  overflow: auto;
}

.x-box::-webkit-scrollbar {
  width: 8px;
}

.x-box::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-radius: 4px;
}

.x-box::-webkit-scrollbar-thumb {
  background: #b1b1b1;
  border-radius: 4px;
}

.x-box::-webkit-scrollbar-thumb:hover {
  background: #767676;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.x-box-show {
  display: block;
}

.x-box-show + .container {
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

.x-box-show ~ .container {
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

.x-box__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.2rem;
  cursor: pointer;
}

.x-box__btn:hover {
  opacity: 80%;
}

.close {
  display: none;
}

/* CAJA DE ALERTA */
.x-alert-box {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 200;
}

.x-alert-box .x-alert-box__content {
  position: relative;
  width: 400px;
  height: 100px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  text-align: center;
}

.x-alert-box .x-alert-box__title {
  margin-top: 8px;
}

/* FORMULARIO */
.x-form .x-form-grid {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
}

@media only screen and (max-width: 768px) {
  .x-form .x-form-grid {
    -ms-grid-columns: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .x-form .x-form-grid {
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

.x-form .x-form-label {
  display: block;
}

.x-form .x-form-input {
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.x-form .x-form-input:focus {
  outline: none;
  border: 1px solid #00a3fa;
}

@media only screen and (max-width: 768px) {
  .x-form .x-form-input {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .x-form .x-form-input {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .x-form .x-form-input {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .x-form .x-form-input {
    width: 50%;
  }
}

/* ALINEACION */
.x-center {
  text-align: center;
  margin: auto;
}

.x-center-t {
  text-align: center;
}

.x-center-m {
  margin: auto;
}

/* RESET */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
/*# sourceMappingURL=xpendmusic-library.css.map */