<p>
    Ordenar por:
    <a href="?ver={{section}}&order_by=date">
        <button class="x-btn-primary">Fecha de creacion</button>
    </a>
    <a href="?ver={{section}}&order_by=update_date">
        <button class="x-btn-primary">Fecha de actualizacion</button>
    </a>
    <a href="?ver={{section}}&order_by=id">
        <button class="x-btn-primary">ID</button>
    </a>
</p>
<div class="form-pedidos-grid">
    <div class="form-pedidos__title">
        Nombre
    </div>
    <div class="form-pedidos__title">
        Precio
    </div>
    <div class="form-pedidos__title">
        Categoria
    </div>
    <div class="form-pedidos__title">
        Fecha
    </div>
    <div class="form-pedidos__title">
        Estado
    </div>
    <div class="form-pedidos__title">
        Cantidad
    </div>
    <div class="form-pedidos__title">
        Ventas
    </div>
    <div class="form-pedidos__title">
    </div>
</div><br>